* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --darkblue: #002c54;
  --red: #dc2626;
}

h1 {
  margin: 0;
  height: 50px;
  display: flex;
  padding-left: 10px;
  align-items: center;
  color: var(--darkblue);
}

img {
  color: darkblue;
}

img:hover {
  cursor: pointer;
  background-color: #00000050;
}

img:active {
  transform: scale(0.9);
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.sidebar {
  background-color: var(--red);
  color: white;
  border-radius: 5px;
  padding-left: 10px;
  height: 100vh;
}

.projects {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.proj-add-btn {
  font-size: 2em;
  color: white;
  padding-bottom: 3px;
  margin-right: 20px;
  background: var(--red);
  border: none;
}

.proj-add-btn:active {
  transform: scale(0.9);
}

.proj-add-btn:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-top: 10px;
  padding-right: 10px;
  display: grid;
}

li {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 10px;
}

li > img {
  width: 20px;
}

li:hover {
  background-color: white;
  color: var(--red);
}

.active-proj {
  background-color: white;
  color: var(--red);
}

.main-contents {
  width: 60%;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 20px;
  align-items: center;
}

img {
  width: 30px;
}

.main {
  background-color: #fdf6f6;
  color: var(--darkblue);
  border-radius: 5px;
}

.project-title {
  font-size: 1.7em;
  font-weight: bold;
}

.project-header {
  display: grid;
  padding-top: 10px;
  justify-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.task-btn {
  font-weight: bold;
  height: 30px;
  border: 2px dashed var(--darkblue);
  color: var(--darkblue);
  background-color: #fdf6f6;
}

.task-btn:hover {
  background-color: var(--darkblue);
  color: white;
}

.task-btn:active {
  transform: scale(0.9);
}

.tasks {
  font-size: 1em;
  display: flex;
  border-radius: 5px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.tasks.low {
  border: 2px solid #00cc00;
}
.tasks.low.completed,
.tasks.medium.completed,
.tasks.high.completed {
  background-color: #00000090;
  border: none;
}

.tasks.medium {
  border: 2px solid yellow;
}

.tasks.high {
  border: 2px solid red;
}
.tasks > div {
  display: flex;
  gap: 5px;
  align-items: center;
}

input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

dialog::backdrop {
  backdrop-filter: blur(3px);
  background-color: #00000080;
}

.proj-dialog,
.task-dialog {
  margin: auto;
  padding: 20px;
}

.proj-dialog-container {
  display: grid;
  justify-items: center;
  width: 300px;
  height: 100px;
  gap: 20px;
}

.proj-dialog-container div:first-child {
  display: grid;
  color: var(--darkblue);
  font-weight: bold;
}

.proj-dialog-container div:last-child {
  display: flex;
  gap: 30px;
}

.proj-dialog-add,
.task-dialog-add,
.proj-dialog-cancel,
.task-dialog-cancel {
  width: 60px;
  border: 2px dashed var(--darkblue);
  height: 30px;
  color: var(--darkblue);
  font-weight: bold;
  background-color: white;
}

.proj-dialog-add:hover,
.task-dialog-add:hover,
.proj-dialog-cancel:hover,
.task-dialog-cancel:hover {
  background-color: var(--darkblue);
  color: white;
}

.proj-dialog-add:active,
.task-dialog-add:active,
.proj-dialog-cancel:active,
.task-dialog-cancel:active {
  transform: scale(0.9);
}

.task-dialog-container {
  display: grid;
  height: 300px;
  align-items: center;
  color: var(--darkblue);
  justify-content: center;
  width: 200px;
}

input[type="date"],
input[type="text"],
select {
  width: 100%;
  height: 20px;
  color: var(--darkblue);
}

.task-dialog-btns {
  display: flex;
  justify-content: space-evenly;
}
